extends ../clientpage
block clientcontent
    header 
        h1(align="center")=content.sonucmainhead
    
    if foundPersonel === null 
        p.warning(align="center") Girdiğiniz bilgiler ile ilgili kayıt bulunamadı.
    else 
        table.sonucekrani(border=1 cellspacing=0 cellpadding=5 align='center') 
            each value, key in foundPersonel
                tr 
                    td=key.toLocaleUpperCase("tr-TR") 
                    td=value
        br
        h3(align='center')=content.sonucsubhead
        pre=content.sonucaciklama

    
    a.yenisorgu(href="/")='❌ '+content.sonucclosebtn