doctype html
html(lang="tr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/adminStil.css")
        title admin
    body 
        .container 
            header ATAMA SORGU EKRANI DÜZENLEME PANELİ
            nav 
                a(href="/administrationpage" class=active=="home"&&"active") Kurulum
                a(href="/administrationpage/liste" class=active=="liste"&&"active") Liste Yükleme
                a(href="/administrationpage/logo" class=active=="logo"&&"active") Logo
                a(href="/administrationpage/arkaplan" class=active=="arkaplan"&&"active") Arkaplan
                a(href="/administrationpage/sorguekrani" class=active=="sorguekrani"&&"active") Sayfa Düzeni

            main 
                block admincontent