doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="adminStil.css")
        title ATAMACI
    body 
        .container 
            header 
                h1 ATAMA EKRANI DÜZENLEME PANELİ
            form( action="/administrationpage" method="post" enctype="multipart/form-data")
                .formpart
                    label Ana Başlık
                    input(type="text", name="baslik", value=content.baslik) 
                .formpart
                    label Alt Başlık
                    textarea(name="altbaslik" rows=3)=content.altbaslik
                    small Bu bölümde <b>html</b> etiketleri kullanabilirsiniz.
                .formpart
                    label 1. input başlığı
                    input(type="text", name="input1", value=content.input1)
                .formpart
                    label 2. input başlığı
                    input(type="text", name="input2", value=content.input2)
                .formpart
                    label Form kayıt butonu başlığı
                    input(type="text", name="submitbutonu", value=content.submitbutonu)
                .formpart
                    label(for="uploadbutton") Arkaplan Resmi
                    br
                    input#uploadbutton(type="file" name="backgroundimage" hidden)
                br
                input(type="submit", value="GÜNCELLE")
