doctype html
html(lang="en" style="background-image:url(bg/bg.jpg)")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="stil.css")
        title ATAMA SORGU
    body
        .container
            header
                center
                    img(src=content.logo width=250)
                h1(align="center")=content.baslik
                p(align="center")!=content.altbaslik
            form(method="post")
                .formpart
                    label(for="sicil")=content.input1
                    input#sicil(type="text" name="sicil" autocomplete="off")
                .formpart
                    label(for="tc")=content.input2
                    input#tc(type="text" name="tc" autocomplete="off")
                .formpart
                    input(type="submit", value=content.submitbutonu)
